name: scalafix
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        command:
          - "-Pscala-2.12"
          - "-Pscala-2.13"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Set up JDK 1.8
      uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-version: 18.0.2+9
    - name: Check code with Scalafix
      run: mvn -Dgpg.skip ${{ matrix.command }} clean install && mvn ${{ matrix.command }} org.spurint.maven.plugins:scala-cross-maven-plugin:rewrite-pom scalafix:scalafix -Dscalafix.mode=CHECK
