name: scalafix
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        command:
          - "-Pscala-2.12"
          - "-Pscala-2.13"
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Check code with Scalafix
      run: mvn -Dgpg.skip ${{ matrix.command }} clean install && mvn ${{ matrix.command }} org.spurint.maven.plugins:scala-cross-maven-plugin:rewrite-pom scalafix:scalafix -Dscalafix.mode=CHECK
