name: test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        command:
          - "-Pscala-2.12"
          - "-Pscala-2.13"
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up JDK 1.8
      uses: actions/setup-java@v5
      with:
        distribution: zulu
        java-version: 18.0.2+9
    - name: Build with Maven
      run: mvn ${{ matrix.command }} test
